body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background-image: url("../assets/img/fondo.jpg");
  background-repeat: no-repeat;
  background-size: 100%; */
}

a {
  text-decoration: none;
  display: inline;
  color: black;
}

header {
  width: 100%;
  height: 140px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

header .header-icons-container {
  width: 100%;
  height: 50px;
  display: grid;
  background-color: #18b0b0;
}

header .header-icons-container .icons {
  width: 300px;
  height: auto;
  display: flex;
  justify-items: flex-end;
  align-items: center;
  justify-content: space-between;
  justify-self: start;
  margin-right: 50px;
}

header .icons span {
  color: white;
}
nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90px;
  background-color: #0d0d0d;
}
nav .nav-logo-container {
  margin-left: 50px;
  align-self: center;
}

nav .nav-logo-container img {
  width: 220px;
  margin-top: 10px;
}

nav .profile-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}

nav .profile-link a {
  color: white;
  border-bottom: 1px solid white;
}

nav .profile-link a:hover {
  transform: scale(1.1);
  /* padding: 5px; */
  border-radius: 4px;
  background-color: #0e6969;
}
.hero img {
  width: 100%;
  height: 0 auto;
}

.hero {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-image: url("../assets/img/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main .text-hero {
  font-size: 60px;
  color: white;
  font-weight: bold;
  align-items: center;
  justify-self: center;
}

main .text-hero p {
  margin-top: 80px;
  color: #5ed1d1;
}

main .buttom-hero {
  font-weight: bold;
  align-self: center;
  justify-self: center;
  /* margin-bottom: 80px; */
}

main .buttom-hero button {
  border: 0;
  padding: 10px;
  width: 250px;
  font-size: 20px;
  border-radius: 5px;
  color: White;
  background-color: #18b0b0;
}

main .buttom-hero button:hover {
  background-color: #0e6969;
  transform: scale(1.1);
  /* padding: 20px; */
  /* box-shadow: 0 1px 6px 0 #20212447; */
}

main .buttom-hero button a {
  color: white;
}
